<script  text='test/javascript'>
  window.splash_img ="<%=image_url('splash.svg')%>"
  window.splash_img_2 = "<%=image_url('splash-2.png')%>"
  window.logo = "<%=image_url('linkedin.png')%>"
</script>


<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root"></main>
