/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .logo {
    width: 20px; 
    height: 20px; 
    position: absolute; 
    display: block; 
 }

header{
   display: flex; 
   justify-content: space-between; 
   padding-left: 40px; 
   padding-right: 40px; 
   top: 20px; 

}
.welcome {
   font-size: 55px ; 
   padding-left: 40px !important; 
   color: lightskyblue; 
   text-align: left !important; 
   line-height: 80px; 
}

.splash-img {
   z-index: -1;
   height: 600px;
   width: 800px;
   position: absolute;
   left: 550px;
   top: 150px;
}

button{

   background-color: white;
   color: black;
   border: 2px solid lightskyblue;
   padding: 7px;
   border-radius: 3px;
   transition: none;
   font-family: inherit;
   font-size: inherit;
   cursor: pointer; 
}

button:hover {
   background-color: lightskyblue;
   color: white;
 }

.session-submit {
   background-color: rgb(0, 140, 255);
   border-color:rgb(0, 140, 255);
   color: white;
   /* font-weight: bolder; */
   padding: 7px;
   border-radius: 3px;
   transition: none;
   font-family: inherit;
   font-size: inherit;
   text-align: center;
   cursor: pointer; 

}


.login-signup {
   top:30px; 
   left: 1000px; 
   position: absolute; 
   
}

.login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
 }


 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .signup-input {
   /* margin-left: 20px; */
   width: 400px; 
   padding: 7px;
   font-family: inherit;
   font-size: inherit;
 }

  .login-input {
   /* margin-left: 20px; */
   width: 400px; 
   padding: 7px;
   border-radius: 3px;
   transition: none;
   font-family: inherit;
   font-size: inherit;
   text-align: left;
 }

 .signup-form-box {
   outline: 1px solid black;
   padding: 50px;
   background-color: #f2f2f2;
   display: flex;
   justify-content: center;
   top: 280px; 
   position: absolute; 
   

 }

 .login-form-box { 
   display: flex;
   justify-content: center;
   top: 300px; 
   position: absolute; 
 }

 .login-header{
   color: lightskyblue;
   top: 80px; 
   /* left: 680px;  */
   /* position: absolute;  */
    text-align: center; 

 }


body {

    /* background-color: #ffe6e6;  */
 }

 p {
    text-align: center; 
 }

.signup-errors {
   display: block; 
   background-color: red; 
   color: white; 
   font-size: 20px;
   line-height: 25px;
   font-weight: normal;
    /* padding-left: 35px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px; */
   overflow: hidden;
   position: absolute;
   top: 20px; 
   width: 400px; 
   text-align: center; 


}

.login-errors {
   color: red; 
}

html { 
       font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
