/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .splash-container{
   width: 100%; 
   /* left: 50px; 
   position: absolute;  */
   /* margin: 0 auto;  */
}




header{
  display: flex; 
  justify-content: space-between; 
  padding-left: 40px; 
  padding-right: 40px; 
  top: 20px; 

}
.welcome {
  font-size: 65px ; 
  padding-top: 75px; 
  font-weight: 400 !important; 
  /* padding-left: 40px !important;  */
  color: lightskyblue; 
  text-align: left !important; 
  line-height: 80px; 
  position: absolute; 
  left: 70px;
}

.welcome-2 {
  font-size: 55px ; 
  color: lightskyblue; 
  /* text-align: center;  */
  position: absolute; 
  top: 800px; 
  left: 270px; 


}

.splash-img {
  z-index: -1;
  height: 600px;
  width: 800px;
  left: 570px; 
  top: 160px; 
  position: absolute;
  /*left: 550px;
  top: 150px; */
}

.splash-img-2 {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 1000px; 
  left: 1px; 

}

.logo-img { 
  width: 30px; 
  height: 30px; 
  position: absolute; 
  top: 20px; 
  left: 70px;
}

.logo-login {
  width: 30px; 
  height: 30px; 
  position: relative; 
  left: 290px; 
}

.signin-button {
  border: 1px solid  #2977c9; 
  color:  #2977c9; 
  padding: 7px;
  padding-right: 15px; 
  padding-left: 15px; 
  border-radius: 3px;
  transition: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold; 
  cursor: pointer; 

}

.signup-button {
  background-color: rgba(0,0,0,0);
   border: 0;
   border-radius: 2px;
   color: rgba(0,0,0,0.6);
   cursor: pointer;
   display: inline-block;
   font-size:inherit;
   font-weight: 600;
   font-family: inherit;
   height: 32px;
   line-height: 32px;
   overflow: hidden;
   outline-width: 2px;
   padding: 0 8px;
   position: relative;
   text-align: center;
   text-decoration: none;

}


.splash-button{ 
  position: absolute; 
  text-align: center; 
  position: absolute; 
  top: 1050px; 
  left: 590px; 
  padding: 20px;
  background-color: #2977c9;
  color: #fff;
  font-weight: normal;
  border: 2px solid #2977c9;
  border-radius: 40px;
  font-size: 20px; 

}


.signin-button:hover {
  background-color: rgb(193, 229, 252);
  color:  #2160a3; 
  border: 1px solid  #154374;

}

.signup-button:hover {
  background-color: lightgrey;
}

.session-submit {
  background-color: rgb(0, 140, 255);
  border-color:rgb(0, 140, 255);
  color: white;
  padding: 7px;
  border-radius: 3px;
  transition: none;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer; 
  width: 420px; 

}

.demo-login {
  background-color: rgb(0, 140, 255);
  border-color:rgb(0, 140, 255);
  color: white;
  padding: 7px;
  border-radius: 3px;
  transition: none;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer; 
  width: 420px; 
}


.login-signup {
  position: absolute; 
  top: 20px; 
  left: 1000px; 
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.signup-input {
  width: 400px; 
  padding: 7px;
  font-family: inherit;
  font-size: inherit;
}

.error-border{
   border-color: red; 
} 



 .login-input {
  width: 400px; 
  padding: 7px;
  border-radius: 3px;
  transition: none;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
}

.signup-form-box {
  outline: 1px solid black;
  padding: 50px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  top: 230px; 
  position: absolute; 
  

}

.login-form-box { 
  display: flex;
  justify-content: center;
  flex-direction: column; 
  top: 250px; 
  position: absolute; 
}

.login-header{
  color: lightskyblue;
  top: 80px; 
  text-align: center; 
}


p {
   text-align: center; 
}

.signup-errors {
  display: block; 
  background-color: red; 
  color: white; 
  font-size: 20px;
  font-weight: normal;
  overflow: hidden;
  position: absolute;
  top: 20px; 
  width: 400px; 
  text-align: center; 
}

.signup-errors.hidden {
  display: none; 
}

.login-errors {
  color: red; 
}

html { 
      font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
      overflow-x: hidden;
}
