.companies {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
}




.company-item-img {
    width: 50px; 
    height: 50px; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


.companies-header {
    text-align: center;
    color: lightblue;
    font-size: 40px;
    font-weight: bold; 
    padding:10px; 
    margin-top: 50px; 
}
.company-name {
    font-weight: bold; 
    font-size: 20px;
}

.company {
    display: flex; 
    flex-direction: column;
    margin: 40px; 
}