.mini-profile { 
    width: 20%; 
    height: 360px; 
    background-color: white; 
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    border-radius: 2px;
}

.mini-background {
    width: 100%; 
    height: 20%;
    z-index: -1px;
}

.mini-name{
    font-weight: bolder; 
    text-align: center; 
    padding-bottom: 4%;
}

.mini-title {
    text-align: center;
    font-size: 14px; 
    color: grey;
}

.mini-img {
    text-align: center;
}

.mini-git {
    font-size: 30px; 
    padding-top: 4%;
    color: rgb(64, 192, 224);
    text-align: center;
}


.mini-profile-bottom {
    top:-10px; 
}
.mini-profile-photo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid white;
    z-index: 1px;
}
.feed-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

}

.posts-container {
    width: 45%;
    display: flex; 
    flex-direction: column; 
    /* justify-content: space-between; */

}

.all-posts {
    width: 100%;
}

.post-create {
    width: 100%; 
    height: 130px; 
    background-color: white; 
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    border-radius: 2px;
    margin-bottom: 35px; 
}

.post-index {
    width: 100%; 
    height:70%;
}

.tips {
    width: 27.5%; 
    height: 100%;

    
}

.tips-img {
    width: 100%; 
    box-shadow: 0 0 0 1px rgba(188, 245, 255, 0.795);
    border-radius: 2px;
}

.mini-num-text {
    font-size:12px; 
    color: grey; 
    font-weight: 600; 
    margin-left: 10%; 
}

.mini-bottom {
    border-top: 1px solid grey;
    margin-top:4%;
}

.mini-num-container {
    display: flex; 
    justify-content: space-between;
    margin-top: 4%;

}

.mini-num {
    color: rgb(64, 192, 224);
    margin-right: 10%; 

}

.icon-post {
    font-size: 25px;
    color: rgb(64, 192, 224);

}

.icon-text{
    font-weight: bolder;
    color: grey;
    padding-top: 4.5%;
    cursor: pointer;
}

.post-create-container {
    display: flex; 
    justify-content: space-between;
    padding: 5%; 

    border-bottom: 1px solid grey;
}

.icon-create {
    display: flex; 
}

.article{
    padding-left: 5%; 
    padding-top: 3%;
    color: rgb(64, 192, 224);
    text-decoration: underline;
}


.create-post-form {
    width: 500px;
    padding: 30px;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    /* border-bottom: transparent !important; */
    padding-bottom: 350px;
    font-size: 25px;


}


.create-post-header {
    background-color:  #0073b1;
    width: 100%; 
    height :50px; 
}

.post-input {
    width: 300px;
    height: 300px; 
    /* font-size: 1rem;  */

}


.close-post-x {
    color: white;
    font-size: 25px; 
    text-align: right;
    padding-right: 3%; 
    padding-top: 1%;
    cursor: pointer; 
}

