.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }
  

  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px; 
    background-color: white; 
    border: 2px solid black; 
    width: inherit; 
    /* height: 400px; */
    padding: 24px;

  }

  .modal-child-post{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px; 
    background-color: white; 
    /* border: 2px solid black;  */
    padding-bottom: 24px; 
    width: inherit; 
    height: inherit;
  }

  .modal-header{
    display: flex; 
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
  }


  .modal-input {
    width: 600px; 
    padding: 7px;
    font-family: inherit;
    font-size: inherit;
    margin-top:3px; 
}

  .modal-submit {
    background-color: #0073b1;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: right;
    padding: 5px; 
    position: relative;
    left: 575px;
    font-size: 18px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold; 
    font-weight: bold;
    top: 32px;
    left: 550px;

  }

  .delete-button {
    /* background-color: #0073b1; */
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: right;
    padding: 5px; 
    position: relative;
    left: 0px;
    font-size: 18px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    color: rgba(0,0,0,.6);
    font-weight: bold; 
  }

  .modal-yr, .modal-name {
    display: flex; 
    justify-content: space-between;
    flex-direction: row; 

  }


  .modal-input-name {
    width: 290px; 
    padding: 7px;
    font-family: inherit;
    font-size: inherit;
    margin-top:3px; 
}


  .select-yr, .select-yr-2, .start-yr, .end-yr {
    width: 100%; 
    height: 32px; 
  }

  .modal-first-name, .modal-last-name {
    width: 50%; 
    height: 20px; 
  }
  

  .modal-name {
    padding-bottom: 42px;
  }
  .select-yr-2{
    margin-left: 10px;

  }
  .start-yr{
    margin-right: 10px; 
    
  }


  .close-x {
    cursor: pointer;
  }


.icon-edit {
  z-index: 1;
}

.post-modal-submit {
  background-color: #0073b1;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  /* justify-content: right; */
  padding: 5px;
  position: relative;
  font-size: 18px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  /* margin-left: 415px; */
  font-weight: bold;

}


.create-post-bottom {
  display: flex; 
  justify-content: space-between;
  padding-left:25px; 
  padding-right: 25px; 
}

.post-form-icons {
  display: flex; 
  width: 40%;
  justify-content: space-between;

  
}
.icon-post-form {
  font-size: 30px; 
  color: #0073b1;
}