html {
    background-color: rgba(235, 247, 247, 0.589);
}


.profile {
    display: flex; 
    justify-content: space-between; 
    flex-direction: column; 
    align-items: center; 
}

.experience-item-container, .profile-about {
    display: flex; 
    margin: 10px; 
    width: 800px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    border-radius: 2px;
    background-color: white; 

}



.education-item-container{
    /* border: 1px solid darkgrey; */
    width: 800px;
    display: flex; 
    margin: 10px; 
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    border-radius: 2px;
    background-color: white; 
}

.profile-background {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
}

.profile-image {
    width: 170px;
    height: 180px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid white;
    top: 100px;
    position: absolute; 

    /* position: absolute; */
    /* top: 90px;
    left: 35px; */
}

.profile-image-circle {
    position: absolute; 
    padding: 25px; 
    top: 70px;
}


.profile-summary-container {
    width: 800px; 
    height: 400px; 
    background-color: white; 
    display:flex; 
    flex-direction: column;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    border-radius: 2px;

}

.section-header {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    color: rgba(0,0,0,.9);
    text-align: left; 
    padding-left: 40px;
}




.item {
    width: 780px; 
    /* border-bottom: 1px solid darkgrey; */
    display: flex; 
    margin-bottom: 20px;

}
.item-title  {
    display: flex; 
    justify-content: space-between;
    width: 660px;
}

.section-heading {
    display: flex; 
    justify-content: space-between;
    width: 780px;
}

.icon{
    margin-top:28px; 
    cursor: pointer; 
}

.github-icon {
    font-size: 40px; 
    color: rgb(64, 192, 224);
    z-index:1;
    position: absolute;
    left: 550px;
    padding-top: 20px;
}
.icon-edit {
    cursor: pointer; 
}


.item-info{
    width: 87.3%; 
    align-items: flex-start; 
    border-bottom: 1px solid darkgrey;

}

.item-img{
    margin-right: 25px;
    width: 55px;
    height: 55px;
    border-radius: 5px;
}

.item-title {
    font-size: 16px;
    font-weight: bolder;
}

.item-sub {
    font-size: 15px;
}

.item-sub-2{
    font-size: 15px;
    color: grey;
}

.ed-footer {
    font-style: italic; 
    font-size: 11px; 
    color: grey; 
    font-weight: 100; 
    text-align: left;
    margin: 0px;
}

.profile-summary {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}

.user-name {
    font-size: 25px; 
}

.summary{
    height: 40%;
    display: flex; 
    flex-direction: column; 
    /* justify-content: space-between;  */

}

.profile-image-container {
    height:60%;
}

.user-name{
    text-align: left; 
    padding-left: 40px;
}

.summary-location {
    font-size: 15px; 
    padding-left: 40px;
    padding-bottom: 30px; 

}

.icon i, .icon-edit i {
    font-size:20px; 
    color: rgb(64, 192, 224); 
}


.item-description{
    width: 90%;
}

.education-errors {
    color: red; 
    padding-top: 4px;
}