
.profiles {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;

}






.mini-profile-index { 
    width: 15%; 
    height: 300px; 
    background-color: white; 
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    border-radius: 2px;
    margin: 20px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

}

.mini-index-2 {
    text-align: center;

}

.connect {
    border: 1px solid  #2977c9; 
    color:  #2977c9; 
    padding: 7px;
    padding-right: 20px; 
    padding-left: 20px; 
    /* border-radius: 3px; */
    margin-bottom: 6px;
    transition: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold; 
    cursor: pointer; 
    /* left: 20%; 
    bottom: 0;  */
    
    text-align: center;

  
}